#header {
    z-index: 1;
    position: fixed;
    border-radius: 5px;
    width: 97.5%;
    height: 60px;
	background-color: #668284;
	margin-top: -20px;
}

#name {
    float:left;
    padding-top: 4px;
    margin-left: 10px;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

#email {
    float:right;
    margin-right: 10px;
    padding-top: 11px;
    color: #ffffff;
    font-family: Verdana, sans-serif;
}

#header a:hover {
    font-weight: bold;
}

.right a {
    Color: #000000;
    text-decoration: none;
}

.right a:hover {
    font-weight: bold
}

h4 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
    margin-top: 15px
}

.left {
    float: left;
    border-radius: 5px;
    width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-top: 50px;
}

.right {
    float: right;
    border-radius: 5px;
    width: 88%;
	height: 400px;
	background-color: #F4EBC3;
	margin-top: 50px;
	margin-bottom: 10px;
}

#footer {
    border-radius: 5px;
    	height: 50px;
	background-color: #668284;
	clear: both;
	color: #ffffff
}

#footer p {
    text-align: center;
    position: relative;
    padding-top: 10px;
}
